<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.coenraets.employeedirectory"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Likermob</name>
 
    <description>
       Save on things you like!
    </description>
 
    <author href="http://www.likermob.com" email="jadman02@hotmail.com">
        Jarrod Dean
    </author>
 


    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
 
<access origin="*" />

<gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
    <param name="APP_ID" value="129670517205110" />
    <param name="APP_NAME" value="d0531a70120ac279ebee331df08a60fe" />
</gap:plugin>

 
<access origin="http://smilesavers.net.au"/>
<access origin="*.akamaihd.net"/>
<access origin="*.fbcdn.net"/>
<access origin="graph.facebook.com"/>
<access origin="api.facebook.com"/>
<access origin="m.facebook.com"/>
 
 <gap:platform name="ios" />
 <preference name="orientation" value="portrait" />
 
 <preference name="DisallowOverscroll" value="true" />
 
</widget>
